<script src="https://giscus.app/client.js"
        data-repo="fionera/fionera"
        data-repo-id="R_kgDOIFmcgA="
        data-category="Q&A"
        data-category-id="DIC_kwDOIFmcgM4CYBw9"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>